@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://www.google.com/search?q=unauthorized+error+photo&tbm=isch&ved=2ahUKEwjIpr_xpdSAAxUG4AIHHa2KDOIQ2-cCegQIABAA&oq=unauthorized+error+photo&gs_lcp=CgNpbWcQA1DMC1j4EGDpEmgAcAB4AYAB9QSIAc0JkgEJMC4xLjIuNS0xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=yP_VZMiiGYbAi-gPrZWykA4&bih=635&biw=1422&rlz=1C1BNSD_enBG954BG954#imgrc=-2jMLGVoD8Fc7M&imgdii=Z5i06u41QYh9zM" alt="Alternative image">
                <div class="text-left h4">
                    <p>Oops, you don't have access here.</p>
                </div>
                <div class="text-left h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
