@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left pt-4 pl-3">
    <h1 class="display-4 fw-bold">Gym Hub</h1>
    <h3>Next generation gyms for your personal and group trainings.</h3>
    <div style="width: 500px; border: none; font-size: 20px">
        <p style="overflow-wrap: break-word;">Join us for your better experience in training. Our system provides you with activity tracking technology!</p>
    </div>
</div>
