@model TrainerDetailsViewModel


<div class="container">

    <div class="col-10">
        <partial name="_TrainerSchedulePartial" />
    </div>

    <div class="form-container">
        <partial name="_BookIndividualTrainingPartial" model=" new BookIndividualTrainingViewModel{ TrainerId = Model.Id }" />
    </div>
</div>