@model TrainerDetailsViewModel


<div class="container">
    <h3>@Model.FirstName's information</h3>
    <div class="col-10">
        @*Here will be the schedule of the according trainer*@
    </div>

    <div class="form-container">
        @*Here will be the form for booking a training*@
    </div>

</div>