@model ICollection<AllActivitiesViewModel>


@foreach (var activity in Model)
{
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@activity.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Trainer: @activity.TrainerName</h6>
            <h6 class="card-subtitle mb-2 text-muted">Level: @activity.TraineeLevel</h6>
            <h6 class="card-subtitle mb-2 text-muted">Intensity: @activity.Intensity</h6>
            <button class="btn btn-primary mr-2">Book your place</button>
            <a href="/Trainer/TrainerDetails/@activity.TrainerId" class="btn btn-primary">About the Trainer</a>
        </div>
    </div>
}
