@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<br />
<div class="row">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>@ViewData["Title"]</h1>
            <form id="registerForm" method="post">
                <hr />
                <div class="form-floating mt-2">
                    <input asp-for="FirstName" class="form-control" autocomplete="off" aria-required="true" />
                    <label asp-for="FirstName">First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-floating mt-2">
                    <input asp-for="LastName" class="form-control" autocomplete="off" aria-required="true" />
                    <label asp-for="LastName">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-floating mt-2">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">+</span>
                        </div>
                        <input asp-for="PhoneNumber" placeholder="359895..." class="form-control" autocomplete="off" aria-required="true" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-floating">
                    <input asp-for="Email" class="form-control  mt-2" autocomplete="username" aria-required="true" />
                    <label asp-for="Email"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <div class="form-floating mt-2">
                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />
                <div class="form-floating mt-2">
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="ConfirmPassword"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <br />
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

            
    
}
