@model BookIndividualTrainingViewModel

@{

}
<head>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/2.0.4/css/bootstrap-datepicker.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/2.0.4/js/bootstrap-datepicker.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<h5>You can refer to the schedule above for Trainer's availability.</h5>

<form method="post" asp-action="BookIndividualTraining" asp-controller="IndividualTraining">
    <div class="col-12">
        <div class="col-sm-3 mt-3">
            <label asp-for="Start">Day</label>
            <input asp-for="Day" class="form-control" id="datepicker" type="date">
        </div>
    </div>
    <div class="col-12">
        <div class="col-sm-3 mt-3">
            <label asp-for="Start">Start time</label>
            <input asp-for="Start" id="startTimePicker" class="form-control" type="time" value="@Model.Start.ToString("HH:mm")" min="07:00" max="22:00" step="900">
        </div>
    </div>
    <div class="col-12">
        <div class="col-sm-3 mt-3">
            <label asp-for="End">End time</label>
            <input asp-for="End" id="endTimePicker" type="time" value="@Model.End.ToString("HH:mm")" class="form-control" min="07:00" max="22:00" step="900">
        </div>
    </div>
    <div class="col-12">
        <div class="col-sm-3 mt-3">
            <label for="activityLevel" class="form-label">Intensity</label>
            <select class="form-select" id="intensity" name="Intensity">
                <option selected disabled>Choose Intensity</option>
                <option value="Low">Low</option>
                <option value="Moderate">Moderate</option>
                <option value="High">High</option>
            </select>
        </div>
    </div>

    <div class="col-12">
        <div class="col-sm-3 mt-3">
            @if(User.Identity.IsAuthenticated)
            {
                <button type="submit" name="trainerId" class="btn btn-primary" value="@Model.TrainerId">Submit</button>
            }
            else
            {
                <a asp-area="" asp-controller="User" asp-action="Login" class="btn btn-primary">Log in before Submit</a>
            }
            
            
        </div>
    </div>
</form>

<script>
    // Function to set the min attribute of the date picker to the current date
    function setMinDate() {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById("datepicker").min = today;
    }

    // Call the setMinDate function to disable past dates on page load
    setMinDate();
</script>








