@model TrainerDetailsViewModel

<head>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var events = [];
        @foreach (var eventItem in Model.DailySchedules)
        {
            <text>
                var eventObject = {
                    title: 'Individual Training',
                    start: '@eventItem.StartTime.ToString("yyyy-MM-ddTHH:mm:ss")',
                    end: '@eventItem.EndTime.ToString("yyyy-MM-ddTHH:mm:ss")'
                };
                events.push(eventObject);
            </text>
        }

            var calendar = new FullCalendar.Calendar(calendarEl, {

                initialView: 'timeGridWeek',
                headerToolbar: {
                    left: 'title'
                },
                events: events

            });

            calendar.render();
        });

    </script>
</head>
<body>
    <div id='calendar'></div>
</body>
